[Desktop Entry]
Name=USB/Wifi Remote trigger
Comment=Triggers the camera over USB-cable or Wifi
Icon=/home/pi/git/acd_raspberry4/share/pixmaps/acd-remote-trigger.xpm
Exec=/home/pi/git/acd_raspberry4/bin/acd-remote_trigger
Type=Application
Encoding=UTF-8
Terminal=false
Categories=GTK;System;TerminalEmulator;
