[Desktop Entry]
Name=SSD Info
Comment=Shows information about the internal SSD
Icon=/home/pi/git/acd_raspberry4/share/pixmaps/acd-ssd-info.xpm
Exec=/home/pi/git/acd_raspberry4/bin/acd-ssd-info
Type=Application
Encoding=UTF-8
Terminal=false
Categories=GTK;System;TerminalEmulator;
