[Desktop Entry]
Name=SSD Format
Comment=Formats the internal SSD
Icon=/home/pi/git/acd_raspberry4/share/pixmaps/acd-ssd-format.xpm
Exec=/home/pi/git/acd_raspberry4/bin/acd-ssd-format
Type=Application
Encoding=UTF-8
Terminal=false
Categories=GTK;System;TerminalEmulator;
