[Desktop Entry]
Name=SSD Format
Comment=Formats the internal SSD
Icon=/usr/share/pixmaps/acd-ssd-format.xpm
Exec=/usr/bin/acd-ssd-format
Type=Application
Encoding=UTF-8
Terminal=false
Categories=GTK;System;TerminalEmulator;
