[Desktop Entry]
Name=Photo/Video Filename Settings
Comment=Backup filename configuration
Icon=/home/pi/git/acd_raspberry4/share/pixmaps/acd-filename-settings.xpm
Exec=/home/pi/git/acd_raspberry4/bin/acd-backup-settings
Type=Application
Encoding=UTF-8
Terminal=false
Categories=GTK;Settings;TerminalEmulator;
