[Desktop Entry]
Name=SSD Info
Comment=Shows information about the internal SSD
Icon=/usr/share/pixmaps/acd-ssd-info.xpm
Exec=/usr/bin/acd-ssd-info
Type=Application
Encoding=UTF-8
Terminal=false
Categories=GTK;System;TerminalEmulator;
