[Desktop Entry]
Name=ACD Info Hardware
Comment=Shows information about the Advanced Camera Device
Icon=/home/pi/git/acd_raspberry4/share/pixmaps/acd-hardware.xpm
Exec=/home/pi/git/acd_raspberry4/bin/acd-hardware-info
Type=Application
Encoding=UTF-8
Terminal=false
Categories=GTK;System;TerminalEmulator;
